#nav {
  position: sticky;
  width: 100vw;
  left: 50;
  top: 0;
  background-color: #242424;
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  border-bottom: solid;
}

#nav #navLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10vw;
  width: 20vw;
}

.navLink {
  text-decoration: none;
}
