#nav {
    position: absolute;
    top: 0;
    left: 50;
    width: 100vw;
}

#nav #navLinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10vw;
    width: 20vw;
}

.navLink {
    text-decoration: none;
}