#home-header {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    height: 10vh;
    max-height: fit-content;
}

#home-header h1 {
    display: flex;
    width: 60vw;
    justify-content: flex-start;
}

#home-header div {
    font-size: 2em;
    text-align: left;
}
