@import url("../../variables.css");

#contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
  height: 10vh;
}

.contactCopy {
  width: 80vw;
}

.contactForm {
  background-color: var(--off-bg-color);
  padding: 20px;
  box-shadow: 0 4px 0.5% rgba(0, 0, 0, 0.2);
  width: 80vw;
  margin-right: 10vw;
  margin-bottom: 15px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

.nameInput {
  margin-right: 1%;
  margin-bottom: 1%;
}

.contactForm h2 {
  text-align: center;
  margin-top: 0;
}

.contactForm input {
  width: 30%;
  padding: 0.5%;
  border: 1px solid var(--input);
  background-color: var(--input);
  color: var(--text-color);
}

.contactForm textarea {
  width: 98%;
  padding: 1%;
  border: 1px solid var(--input);
  background-color: var(--input);
  color: var(--text-color);
  margin-bottom: 1%;
  height: 25vh;
  resize: none;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: var(--a-hightlight);
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--invert-bg-color);
  color: var(--invert-text-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--a-hightlight);
}

@media (max-width: 1300px) {
  .contactForm input {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .contactForm input {
    width: 99%;
  }
}

.submit {
  width: 10vw;
  min-width: 100px;
}
