@import url("./variables.css");

#content {
  max-width: 80vw;
  padding-left: 10vw;
  flex: 1;
  /* overflow-y: auto; */
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--a-hightlight);
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
